.button {
  width: 502px;
  height: 50px;
  border-radius: 5px;
  border: 0;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  transition: all 0.25s ease-in-out;

  @media screen and (min-width: 320px) and (max-width: 500px) {
    width: 310px;
  }

  &:hover {
    background-color: rgba(33, 150, 243, 1);
    color: rgba(255, 255, 255, 1);
    border: rgba(33, 150, 243, 1) 1px solid;
    font-size: 14px;
    transition: all 0.25s ease-in-out;
  }
}
